.body{
	height: 6000px;
	width: 660px;
	color: white;
	margin: auto;
}
.main{
	background: black;
	height: 560px;
	width: 660px;
}
.main-title {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    text-align: center;
}
.main-text{
font-family: 'Inter', sans-serif;
text-align: center;
font-size: 30px;
}
.main-image{
	width: 560px;
	height: 300px;
	margin-left: 50px;
}
.main-minitext{
	font-family: 'Inter', sans-serif;
	font-size: 22px;
}
.about{
	width: 660px;
	height: 630px;
	background: black;
	color: white;
	margin-top: -30px;
}
.about-title{
	font-family: 'Inter', sans-serif;
	font-size: 30px;
	text-align: center;
}
.about-text{
	font-family: 'Inter', sans-serif;
	font-size: 20px;
}
.about-minitext{
	margin-bottom: 10px;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
}
.gallery{
	width: 660px;
	height: 1960px;
	background: black;
}
.gallery-image{
width: 300px;
height: 300px;
margin-left: 20px;
}
.place{
	width: 660px;
	height: 430px;
	background: black;
	margin-top: -40px;
}
.right{
	margin-left: 300px ;
	margin-top: -330px;
}
.place-title{
font-family: 'Inter', sans-serif;
font-size: 40px;	
}
.place-image{
	width: 300px;
	height: 300px;
}
.place-link{
	color: white;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
}
.place-text{
	font-family: 'Inter', sans-serif;
	font-size: 14px;	
}
.baikal {
    width: 660px;
    height: 400px;
    margin-top: -30px;
    background-image: url('https://avatars.mds.yandex.net/i?id=dc2016a285a0ca53763ab188ca324a3b_l-4936140-images-thumbs&n=13');
    background-size: cover; /* изображение растянется на всю область */
    background-position: center; /* изображение будет по центру */
  font-family: 'Inter', sans-serif;
}
.footer-links{
	color: white;
}
.footer{
		font-family: 'Inter', sans-serif;
	margin-bottom: ;
	width: 660px;
	height:150px;
	background: black;
}
.footer-text{
	margin-left: 420px;
	margin-top: -20px;
}
